body {
    font-family: Arial, sans-serif;
}

.nav-tabs > li > a {
    border: 1px solid #ddd;
    border-radius: 4px;
}

.tab-content {
    padding: 15px;
}
.contents{
	list-style: none;
	padding: 15px;
}

.contents > table > li :hover{
	color: white;
	background-color: #008bff;
	cursor: pointer;
}
#list{
	width:auto;

}
a{
	color:black;
	text-decoration: none;
}
a:hover{
	color: white;
	background-color: blue;
}
th{
	padding: 10px;
} 
#cse{
	max-height: 175px;
	max-width: 175px;
	display: flex;
	padding: 15px;
}
#ece{
	max-height: 175px;
	max-width: 175px;
	display: flex;
	padding: 15px;
}
#eee{
	max-height: 175px;
	max-width: 175px;
	display: flex;
	padding: 15px;
}
#mech{
	max-height: 200px;
	max-width: 190px;
	display: flex;
	padding: 15px;
}
#branchicons{
	padding-right:10px;
	align-items: center;
}
h1{
}
td{
	text-align:center;
}	
#mytab{
	background-color: transparent;
	color: black;
}
#text-depart{
	padding: 8px;
	background-color: #008bff; 
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    background-color: #008bff;
    color: white;

}
#csebanner{
    width: auto;
    margin-left: 25%;
    margin-right: 25%;
}
.clglogo{
    width: auto;
    margin-left: 20%;
}
#myTab{
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
}




#contents{
	list-style: none;
	padding: 12px;
	

}
#courses,#DP,#P,#BOS,#PF,#DL,#Mous,#FA,#ER{
	background-color: white;
	padding: 10px;
}
#ER:hover{
	color: white;
	background-color: #008bff;
	cursor: pointer;
}
#courses:hover{
	color: white;
	background-color: #008bff;
	cursor: pointer;
}
#DP:hover{
	color: white;
	background-color: #008bff;
	cursor: pointer;
}
#P:hover{
	color: white;
	background-color: #008bff;
	cursor: pointer;
}
#BOS:hover{
	color: white;
	background-color: #008bff;
	cursor: pointer;
}
#PF:hover{
	color: white;
	background-color: #008bff;
	cursor: pointer;
}
#DL:hover{
	color: white;
	background-color: #008bff;
	cursor: pointer;
}
#Mous:hover{
	color: white;
	background-color: #008bff;
	cursor: pointer;
}
#FA:hover{
	color: white;
	background-color: #008bff;
	cursor: pointer;
}





#list{
	width:15%;
	border: none;

}
#cse,#ece,#eee,#mech{
	max-height: 180px;
	max-width: 180px;
	display: flex;
	padding: 5px;
	
}
#depart{
	padding: 10px;
	background-color: #eb5e54;
}
#depart:hover{
	color: white;
}
#branchicons{
	border-collapse: collapse;
}
#CSE,#ECE,#EEE,#MECH{
	color: red;
	text-decoration: none;
	padding: 15px;
}
#icon-table{
	width: 15%;
}
#branchicons{
}
.icons{
	position: relative;
	font-family: 'Times New Roman', Times, serif;
	font-size: 18px;
	border-top: #9c9c9c;
	padding-top: 20px;
	padding: 15px;
}
#courses,#DP,#p,#BOS,#PF,#DL,#Mous,#FA,#ER
